* {
    box-sizing:border-box;
}

body {
    background-color: bisque;
}

header { 
    font-size: 4rem;
    text-align: center;
    text-shadow: 3px;
    text-decoration: underline;
    text-decoration-color: slategray;
}

title {
    color: slategrey;
}

.learned div {
    border: dashed;
    background-color: lightsteelblue;
}


ul {
    list-style: disc;
    margin: 1rem;
    padding: 1rem;
}
img.aligh-center {
    display:block;
}